<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lost & Found{{#if pageTitle}} — {{pageTitle}}{{/if}}</title>
</head>
<body>
  <div>
    {{> header}}
    <main>
      {{{body}}}
    </main>
    {{> footer}}
  </div>
</body>
</html>
